@import '../../../../base';

.twitter_feed{
    width: 75%!important;
    margin-top: 8px!important;
    margin: 0 auto;
    margin-bottom: 12px;

    .twitter_wrapper_full_border{
        border-bottom: 1px solid $border-color;
    }

}

@media all and (max-width: 900px) {
    .twitter_feed{
        width: 98%!important;
    }
}