@import '../../../../base';

.logo{
    cursor: pointer;
    img{
        width: 24px;
        height: 24px;
        margin-left: 8px;
        vertical-align: sub;
    }
    
    span{
        font-family: $header-font-stack;
        color: $twitter-color;
    }
}