
// $header-font-stack: 'Noto Sans KR', sans-serif;
$header-font-stack: 'Lato', sans-serif;

$twitter-color: rgb(29, 161, 242);

%border-bottom {
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: rgb(230, 236, 240);
}
  